<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>253753115582-pnac681e4lqfkiu1df8o5hi2art3b1af.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.253753115582-pnac681e4lqfkiu1df8o5hi2art3b1af</string>
	<key>API_KEY</key>
	<string>AIzaSyB_Ex5VcrDVYompTb9hieU6WlqUBp3PUDo</string>
	<key>GCM_SENDER_ID</key>
	<string>253753115582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>HMAP.FirstApp</string>
	<key>PROJECT_ID</key>
	<string>firstapp-6a82d</string>
	<key>STORAGE_BUCKET</key>
	<string>firstapp-6a82d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:253753115582:ios:6f527460bc3f1293f26fef</string>
</dict>
</plist>